<div class="container-fluid">

    <div class="row">
        <img id="burgerPng" src="/assets/img/kawaiiBurger.png" alt="Cute Burger">

        <div class="col-8 titleHead" style="text-align: center">
            <h1 class="eatBurger">Eat-Da-Burger</h1>
            <div class="col-12">
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container-fluid">

    <div class="row">

        <!-- this column holds the burger names on the left -->
        <div class="col-6">
            <h3 id="readyBurgers" style="text-align: center">
                Ready To Be Devoured
            </h3>
            <div class="col-md-4 burgersListLefty">

                <ol class="">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devour=true}}
                    {{/unless}}
                    {{/each}}
                </ol>
            </div>
        </div>
        <!-- DEVOURED BURGERS ON THE RIGHT SIDE -->

        <div class="col-6">
            <h3 id="devBurgers" style="text-align: center">
                Devoured Burgers
            </h3>
            <div class="col-md-4 burgersListRighty ">
                <ol class="">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center">
                <form class="form">
                    <textarea type="text-area" id="burgerName" placeholder="Enter name of burger here" rows="8"
                        cols="38" style="text-align: center">
</textarea>
                    <br />
                    <input id="addingBr" type="submit" value="Submit" />
                </form>
            </div>
            <p style="text-align: center">
                Press submit, to create the new burger!
            </p>
        </div>
    </div>
</div>